<p>This is the testView view.</p>
<button type="button" ng-click="showModal()">显示模态框</button>
<div ace-modal-view modal-title="modalViewConfig.title" modal-show="modalViewConfig.show" modal-footer-block="modalViewConfig.modalFooterBlock">
  {{modalViewConfig.message}}
</div>
<div ace-select-tree-check bind-array="treeList" checked-array="idArray" key-title="title" key-id="id" key-children="children" key-check="checked"></div>
{{idArray}}

currentPage: <input type="number" ng-model="paginationConf.currentPage"><br>
itemsPerPage: <input type="number" ng-model="paginationConf.itemsPerPage"><br>
totalItems: <input type="number" ng-model="paginationConf.totalItems"> <br>

<button type="button" ng-click="go1Page()">go 1 page</button>
{{paginationConf}}
<div ace-pagination pagination-conf="paginationConf" pagination-change="setPage()"></div>
